In [40]:
import os
import pandas as pd
import numpy as np
from pandas.tseries import offsets
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf

import seaborn as sns
import matplotlib.pyplot as plt

In [41]:
PATH_FOLDER = os.path.join(os.getcwd(), r"C:\Users\Lenovo\Desktop\Master Data Science - Nuclio Digital School\Projects\TimeSeries\Data")

merged = os.path.join(PATH_FOLDER, 'full_df.csv')

full_df = pd.read_csv(merged, index_col=0)
full_df['date'] = pd.to_datetime(full_df['date'])
full_df

,date,item_store,Monthly_Sales,Monthly_Revenue,Monthly_Transactions,Monthly_Days_Sales,1_region,2_store,3_sub_store,4_category,5_item
0,2011-01-31,ACCESORIES_1_001_BOS_1,0.0,0.0,0.0,0.0,Boston,South_End,BOS_1,ACCESORIES,ACCESORIES_1
1,2011-01-31,ACCESORIES_1_001_BOS_2,0.0,0.0,0.0,0.0,Boston,Roxbury,BOS_2,ACCESORIES,ACCESORIES_1
2,2011-01-31,ACCESORIES_1_001_BOS_3,0.0,0.0,0.0,0.0,Boston,Back_Bay,BOS_3,ACCESORIES,ACCESORIES_1
3,2011-01-31,ACCESORIES_1_001_NYC_1,0.0,0.0,0.0,0.0,New York,Greenwich_Village,NYC_1,ACCESORIES,ACCESORIES_1
4,2011-01-31,ACCESORIES_1_001_NYC_2,0.0,0.0,0.0,0.0,New York,Harlem,NYC_2,ACCESORIES,ACCESORIES_1
...,...,...,...,...,...,...,...,...,...,...,...
1951227,2016-04-30,SUPERMARKET_3_827_NYC_3,0.0,0.0,0.0,0.0,New York,Tribeca,NYC_3,SUPERMARKET,SUPERMARKET_3
1951228,2016-04-30,SUPERMARKET_3_827_NYC_4,0.0,0.0,0.0,0.0,New York,Brooklyn,NYC_4,SUPERMARKET,SUPERMARKET_3
1951229,2016-04-30,SUPERMARKET_3_827_PHI_1,1.0,1.2,1.0,1.0,Philadelphia,Midtown_Village,PHI_1,SUPERMARKET,SUPERMARKET_3
1951230,2016-04-30,SUPERMARKET_3_827_PHI_2,0.0,0.0,0.0,0.0,Philadelphia,Yorktown,PHI_2,SUPERMARKET,SUPERMARKET_3
1951231,2016-04-30,SUPERMARKET_3_827_PHI_3,0.0,0.0,0.0,0.0,Philadelphia,Queen_Village,PHI_3,SUPERMARKET,SUPERMARKET_3

In [42]:
def scale_values(values, reference_value):
    """
    FunciÃ³n que realiza una regla de tres y escala los valores de una serie segÃºn un valor de referencia.
    """
    scaled_values = values / reference_value
    return scaled_values

# Ejemplo de uso
reference_value_1 = 240815.0

values = full_df.groupby(["1_region"])["Monthly_Sales"].sum().sort_values(ascending=False)
scaled_values = scale_values(values, reference_value_1)

# Asignar los valores escalados a cada categorÃ­a en el dataframe
full_df['1_region'] = full_df['1_region'].map(scaled_values)


reference_value_2 = 62100.0
values = full_df.groupby(["2_store"])["Monthly_Sales"].sum().sort_values(ascending=False)
scaled_values = scale_values(values, reference_value_2)
full_df['2_store'] = full_df['2_store'].map(scaled_values)

reference_value_3 = 62100.0
values = full_df.groupby(["3_sub_store"])["Monthly_Sales"].sum().sort_values(ascending=False)
scaled_values = scale_values(values, reference_value_3)
full_df['3_sub_store'] = full_df['3_sub_store'].map(scaled_values)

reference_value_4 = 321665.0
values = full_df.groupby(["4_category"])["Monthly_Sales"].sum().sort_values(ascending=False)
scaled_values = scale_values(values, reference_value_4)
full_df['4_category'] = full_df['4_category'].map(scaled_values)

reference_value_5 = 160873.0
values = full_df.groupby(["5_item"])["Monthly_Sales"].sum().sort_values(ascending=False)
scaled_values = scale_values(values, reference_value_5)
full_df['5_item'] = full_df['5_item'].map(scaled_values)

full_df

,date,item_store,Monthly_Sales,Monthly_Revenue,Monthly_Transactions,Monthly_Days_Sales,1_region,2_store,3_sub_store,4_category,5_item
0,2011-01-31,ACCESORIES_1_001_BOS_1,0.0,0.0,0.0,0.0,0.760061,0.974444,0.974444,0.322394,0.500065
1,2011-01-31,ACCESORIES_1_001_BOS_2,0.0,0.0,0.0,0.0,0.760061,1.002915,1.002915,0.322394,0.500065
2,2011-01-31,ACCESORIES_1_001_BOS_3,0.0,0.0,0.0,0.0,0.760061,0.970048,0.970048,0.322394,0.500065
3,2011-01-31,ACCESORIES_1_001_NYC_1,0.0,0.0,0.0,0.0,1.000349,0.961820,0.961820,0.322394,0.500065
4,2011-01-31,ACCESORIES_1_001_NYC_2,0.0,0.0,0.0,0.0,1.000349,0.965507,0.965507,0.322394,0.500065
...,...,...,...,...,...,...,...,...,...,...,...
1951227,2016-04-30,SUPERMARKET_3_827_NYC_3,0.0,0.0,0.0,0.0,1.000349,0.977472,0.977472,1.000659,1.004090
1951228,2016-04-30,SUPERMARKET_3_827_NYC_4,0.0,0.0,0.0,0.0,1.000349,0.974412,0.974412,1.000659,1.004090
1951229,2016-04-30,SUPERMARKET_3_827_PHI_1,1.0,1.2,1.0,1.0,0.754725,0.980853,0.980853,1.000659,1.004090
1951230,2016-04-30,SUPERMARKET_3_827_PHI_2,0.0,0.0,0.0,0.0,0.754725,0.979452,0.979452,1.000659,1.004090
1951231,2016-04-30,SUPERMARKET_3_827_PHI_3,0.0,0.0,0.0,0.0,0.754725,0.966409,0.966409,1.000659,1.004090

In [43]:
def build_ts_vars(full_df, gb_list, target_column, agg_func, agg_func_name, verbose = True):
    
    assert gb_list[0] == "date", "First element must be date"
    
    new_name = "_".join(gb_list + [target_column] + [agg_func_name])
    
    if verbose: print(new_name)

    gb_df_ = full_df.groupby(gb_list)[target_column].apply(agg_func).to_frame().reset_index().rename(
        columns = {
            target_column : new_name
        }
    )

    gb_df_[f"{new_name}_LAG1"] = gb_df_.groupby(gb_list[1:])[new_name].transform(
        lambda series: series.shift(1)
    )
    
    return gb_df_

In [44]:
GB_LIST_SHOP_ID = ["date", "5_item"]
TARGET_COLUMN = "Monthly_Sales"
AGG_FUNC = np.sum
AGG_FUNC_NAME = "SUM"

a = build_ts_vars(
    full_df = full_df,
    gb_list = GB_LIST_SHOP_ID,
    target_column = TARGET_COLUMN,
    agg_func = AGG_FUNC,
    agg_func_name =  AGG_FUNC_NAME
    
)

full_df = pd.merge(full_df, a, on = GB_LIST_SHOP_ID, how = "left")

date_5_item_Monthly_Sales_SUM

In [45]:
GB_LIST_SHOP_ID = ["date", "5_item"]
TARGET_COLUMN = "Monthly_Sales"
AGG_FUNC = np.max
AGG_FUNC_NAME = "MAX"

b = build_ts_vars(
    full_df = full_df,
    gb_list = GB_LIST_SHOP_ID,
    target_column = TARGET_COLUMN,
    agg_func = AGG_FUNC,
    agg_func_name =  AGG_FUNC_NAME
    
)

full_df = pd.merge(full_df, b, on = GB_LIST_SHOP_ID, how = "left")

date_5_item_Monthly_Sales_MAX

In [46]:
GB_LIST_SHOP_ID = ["date", "5_item"]
TARGET_COLUMN = "Monthly_Sales"
AGG_FUNC = np.max
AGG_FUNC_NAME = "MIN"

c = build_ts_vars(
    full_df = full_df,
    gb_list = GB_LIST_SHOP_ID,
    target_column = TARGET_COLUMN,
    agg_func = AGG_FUNC,
    agg_func_name =  AGG_FUNC_NAME
    
)

full_df = pd.merge(full_df, c, on = GB_LIST_SHOP_ID, how = "left")

date_5_item_Monthly_Sales_MIN

In [47]:
# full_df.set_index('item_store', inplace=True)

In [48]:
full_df['media_movil_mensual'] = full_df['Monthly_Revenue'].rolling(1).mean()
full_df.dropna(inplace=True)
full_df

,date,item_store,Monthly_Sales,Monthly_Revenue,Monthly_Transactions,Monthly_Days_Sales,1_region,2_store,3_sub_store,4_category,5_item,date_5_item_Monthly_Sales_SUM,date_5_item_Monthly_Sales_SUM_LAG1,date_5_item_Monthly_Sales_MAX,date_5_item_Monthly_Sales_MAX_LAG1,date_5_item_Monthly_Sales_MIN,date_5_item_Monthly_Sales_MIN_LAG1,media_movil_mensual
30488,2011-02-28,ACCESORIES_1_001_BOS_1,0.0,0.0,0.0,0.0,0.760061,0.974444,0.974444,0.322394,0.500065,1199.0,129.0,11.0,4.0,11.0,4.0,0.0
30489,2011-02-28,ACCESORIES_1_001_BOS_2,0.0,0.0,0.0,0.0,0.760061,1.002915,1.002915,0.322394,0.500065,1199.0,129.0,11.0,4.0,11.0,4.0,0.0
30490,2011-02-28,ACCESORIES_1_001_BOS_3,0.0,0.0,0.0,0.0,0.760061,0.970048,0.970048,0.322394,0.500065,1199.0,129.0,11.0,4.0,11.0,4.0,0.0
30491,2011-02-28,ACCESORIES_1_001_NYC_1,0.0,0.0,0.0,0.0,1.000349,0.961820,0.961820,0.322394,0.500065,1199.0,129.0,11.0,4.0,11.0,4.0,0.0
30492,2011-02-28,ACCESORIES_1_001_NYC_2,0.0,0.0,0.0,0.0,1.000349,0.965507,0.965507,0.322394,0.500065,1199.0,129.0,11.0,4.0,11.0,4.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1951227,2016-04-30,SUPERMARKET_3_827_NYC_3,0.0,0.0,0.0,0.0,1.000349,0.977472,0.977472,1.000659,1.004090,2028.0,2736.0,12.0,12.0,12.0,12.0,0.0
1951228,2016-04-30,SUPERMARKET_3_827_NYC_4,0.0,0.0,0.0,0.0,1.000349,0.974412,0.974412,1.000659,1.004090,2028.0,2736.0,12.0,12.0,12.0,12.0,0.0
1951229,2016-04-30,SUPERMARKET_3_827_PHI_1,1.0,1.2,1.0,1.0,0.754725,0.980853,0.980853,1.000659,1.004090,2028.0,2736.0,12.0,12.0,12.0,12.0,1.2
1951230,2016-04-30,SUPERMARKET_3_827_PHI_2,0.0,0.0,0.0,0.0,0.754725,0.979452,0.979452,1.000659,1.004090,2028.0,2736.0,12.0,12.0,12.0,12.0,0.0
1951231,2016-04-30,SUPERMARKET_3_827_PHI_3,0.0,0.0,0.0,0.0,0.754725,0.966409,0.966409,1.000659,1.004090,2028.0,2736.0,12.0,12.0,12.0,12.0,0.0

In [49]:
COLUMNS_TO_DROP = ['Monthly_Revenue',
       'Monthly_Transactions', 'Monthly_Days_Sales', 'date_5_item_Monthly_Sales_MIN', 'date_5_item_Monthly_Sales_MAX', 'date_5_item_Monthly_Sales_SUM']
full_df.drop(COLUMNS_TO_DROP, inplace = True, axis = 1)

In [50]:
# COLUMNS_TO_DROP = ['Monthly_Revenue',
#        'Monthly_Transactions', 'Monthly_Days_Sales', 'date_5_item_Monthly_Sales_MAX']
# full_df.drop(COLUMNS_TO_DROP, inplace = True, axis = 1)

In [51]:
full_df

,date,item_store,Monthly_Sales,1_region,2_store,3_sub_store,4_category,5_item,date_5_item_Monthly_Sales_SUM_LAG1,date_5_item_Monthly_Sales_MAX_LAG1,date_5_item_Monthly_Sales_MIN_LAG1,media_movil_mensual
30488,2011-02-28,ACCESORIES_1_001_BOS_1,0.0,0.760061,0.974444,0.974444,0.322394,0.500065,129.0,4.0,4.0,0.0
30489,2011-02-28,ACCESORIES_1_001_BOS_2,0.0,0.760061,1.002915,1.002915,0.322394,0.500065,129.0,4.0,4.0,0.0
30490,2011-02-28,ACCESORIES_1_001_BOS_3,0.0,0.760061,0.970048,0.970048,0.322394,0.500065,129.0,4.0,4.0,0.0
30491,2011-02-28,ACCESORIES_1_001_NYC_1,0.0,1.000349,0.961820,0.961820,0.322394,0.500065,129.0,4.0,4.0,0.0
30492,2011-02-28,ACCESORIES_1_001_NYC_2,0.0,1.000349,0.965507,0.965507,0.322394,0.500065,129.0,4.0,4.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1951227,2016-04-30,SUPERMARKET_3_827_NYC_3,0.0,1.000349,0.977472,0.977472,1.000659,1.004090,2736.0,12.0,12.0,0.0
1951228,2016-04-30,SUPERMARKET_3_827_NYC_4,0.0,1.000349,0.974412,0.974412,1.000659,1.004090,2736.0,12.0,12.0,0.0
1951229,2016-04-30,SUPERMARKET_3_827_PHI_1,1.0,0.754725,0.980853,0.980853,1.000659,1.004090,2736.0,12.0,12.0,1.2
1951230,2016-04-30,SUPERMARKET_3_827_PHI_2,0.0,0.754725,0.979452,0.979452,1.000659,1.004090,2736.0,12.0,12.0,0.0
1951231,2016-04-30,SUPERMARKET_3_827_PHI_3,0.0,0.754725,0.966409,0.966409,1.000659,1.004090,2736.0,12.0,12.0,0.0

In [52]:
# full_df.to_csv(r'C:\Users\Lenovo\Desktop\Master Data Science - Nuclio Digital School\Projects\TimeSeries\Data\df_preprocessed.csv')

In [53]:
full_df.to_csv(r'C:\Users\Lenovo\Desktop\Master Data Science - Nuclio Digital School\Projects\TimeSeries\Data\df_preprocessed&Variables.csv')

DATA MACRO

In [6]:
import pandas as pd

In [144]:
df_macro = pd.read_csv(r'C:\Users\Lenovo\Desktop\Master Data Science - Nuclio Digital School\Projects\TimeSeries\Data\Datos histÃ³ricos EUR_USD.csv', index_col=0)

df_macro.reset_index(inplace=True)
df_macro['date'] = pd.to_datetime(df_macro['Fecha'])
df_macro.sort_values('date', ascending=True, inplace=True)
df_macro.drop(['Apertura', 'MÃ¡ximo', 'MÃ­nimo', 'Vol.', '% var.', 'Fecha'], axis=1, inplace=True)
df_macro.reset_index(inplace=True)

In [145]:
df_tipos = pd.read_csv(r'C:\Users\Lenovo\Desktop\Master Data Science - Nuclio Digital School\Projects\TimeSeries\Data\FEDFUNDS.csv', index_col=0)
df_tipos.reset_index(inplace=True)
df_tipos['date'] = pd.to_datetime(df_tipos['DATE'])
df_tipos.drop(['DATE'], axis=1, inplace=True)
df_tipos.info()
df_tipos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 826 entries, 0 to 825
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   FEDFUNDS  826 non-null    float64
 1   date      826 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1)
memory usage: 13.0 KB

     FEDFUNDS       date
0        0.80 1954-07-01
1        1.22 1954-08-01
2        1.07 1954-09-01
3        0.85 1954-10-01
4        0.83 1954-11-01
..        ...        ...
821      4.10 2022-12-01
822      4.33 2023-01-01
823      4.57 2023-02-01
824      4.65 2023-03-01
825      4.83 2023-04-01

[826 rows x 2 columns]

In [146]:
df_preprocessed = pd.read_csv(r'C:\Users\Lenovo\Desktop\Master Data Science - Nuclio Digital School\Projects\TimeSeries\Data\df_preprocessed.csv', index_col=0)
df_preprocessed['date'] = pd.to_datetime(df_preprocessed['date'])
df_preprocessed['Month'] = (df_preprocessed['date']).dt.to_period('M')
df_macro['Month'] = (df_macro['date']).dt.to_period('M')
df_tipos['Month'] = (df_tipos['date']).dt.to_period('M')
df = df_preprocessed.merge(df_tipos, on='Month', how='left')
df

,date_x,Monthly_Sales,1_region,2_store,3_sub_store,4_category,5_item,date_5_item_Monthly_Sales_SUM,date_5_item_Monthly_Sales_SUM_LAG1,media_movil_mensual,Month,FEDFUNDS,date_y
0,2011-02-28,0.0,0.760061,0.974444,0.974444,0.322394,0.500065,1199.0,129.0,0.0,2011-02,0.16,2011-02-01
1,2011-02-28,0.0,0.760061,1.002915,1.002915,0.322394,0.500065,1199.0,129.0,0.0,2011-02,0.16,2011-02-01
2,2011-02-28,0.0,0.760061,0.970048,0.970048,0.322394,0.500065,1199.0,129.0,0.0,2011-02,0.16,2011-02-01
3,2011-02-28,0.0,1.000349,0.961820,0.961820,0.322394,0.500065,1199.0,129.0,0.0,2011-02,0.16,2011-02-01
4,2011-02-28,0.0,1.000349,0.965507,0.965507,0.322394,0.500065,1199.0,129.0,0.0,2011-02,0.16,2011-02-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1920739,2016-04-30,0.0,1.000349,0.977472,0.977472,1.000659,1.004090,2028.0,2736.0,0.0,2016-04,0.37,2016-04-01
1920740,2016-04-30,0.0,1.000349,0.974412,0.974412,1.000659,1.004090,2028.0,2736.0,0.0,2016-04,0.37,2016-04-01
1920741,2016-04-30,1.0,0.754725,0.980853,0.980853,1.000659,1.004090,2028.0,2736.0,1.2,2016-04,0.37,2016-04-01
1920742,2016-04-30,0.0,0.754725,0.979452,0.979452,1.000659,1.004090,2028.0,2736.0,0.0,2016-04,0.37,2016-04-01
1920743,2016-04-30,0.0,0.754725,0.966409,0.966409,1.000659,1.004090,2028.0,2736.0,0.0,2016-04,0.37,2016-04-01

In [149]:
df_1 = df.merge(df_macro, on='Month', how='inner')
df_1

,date_x,Monthly_Sales,1_region,2_store,3_sub_store,4_category,5_item,date_5_item_Monthly_Sales_SUM,date_5_item_Monthly_Sales_SUM_LAG1,media_movil_mensual,Month,FEDFUNDS,index,Ãšltimo,date
0,2012-01-31,0.0,0.760061,0.974444,0.974444,0.322394,0.500065,1338.0,1301.0,0.0,2012-01,0.08,60,"1,3078",2012-01-01
1,2012-01-31,0.0,0.760061,0.974444,0.974444,0.322394,0.500065,1338.0,1301.0,0.0,2012-01,0.08,59,"1,3324",2012-01-02
2,2012-01-31,0.0,0.760061,0.974444,0.974444,0.322394,0.500065,1338.0,1301.0,0.0,2012-01,0.08,58,"1,3343",2012-01-03
3,2012-01-31,0.0,0.760061,0.974444,0.974444,0.322394,0.500065,1338.0,1301.0,0.0,2012-01,0.08,57,"1,3240",2012-01-04
4,2012-01-31,0.0,0.760061,0.974444,0.974444,0.322394,0.500065,1338.0,1301.0,0.0,2012-01,0.08,56,"1,2356",2012-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1829275,2016-01-31,0.0,0.754725,0.966409,0.966409,1.000659,1.004090,2542.0,2580.0,0.0,2016-01,0.34,5,"1,1156",2016-01-08
1829276,2016-01-31,0.0,0.754725,0.966409,0.966409,1.000659,1.004090,2542.0,2580.0,0.0,2016-01,0.34,4,"1,1238",2016-01-09
1829277,2016-01-31,0.0,0.754725,0.966409,0.966409,1.000659,1.004090,2542.0,2580.0,0.0,2016-01,0.34,3,"1,0979",2016-01-10
1829278,2016-01-31,0.0,0.754725,0.966409,0.966409,1.000659,1.004090,2542.0,2580.0,0.0,2016-01,0.34,2,"1,0585",2016-01-11
1829279,2016-01-31,0.0,0.754725,0.966409,0.966409,1.000659,1.004090,2542.0,2580.0,0.0,2016-01,0.34,1,"1,0513",2016-01-12

In [165]:
df_1.drop([ 'Month',
       'index', 'date'], axis=1, inplace=True)

In [166]:
df_1.to_csv(r'C:\Users\Lenovo\Desktop\Master Data Science - Nuclio Digital School\Projects\TimeSeries\Data\df_preprocessed&Macro.csv')